*{
    margin: 0px;
    list-style: none;
 }

 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    color: #343d46;
    }

/* header */

.desktop_title {
    display: flex;
    background: #E6E6E6;
}

header{
    display: flex;
    height: 60px;
    background: #E6E6E6;
}
.nav__list{
    display: none;
}
.nav__burger img{
    height: 50px;
    width: 50px;
}
.nav__list--active{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    background: #E6E6E6;
    z-index: 1;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
nav{
    display: flex;
    align-items: center;
}
.nav__burger{
    background: #E6E6E6;
}


.logo{
    display: flex;
    height: 100%;
    width: 30%;
    padding: 10px;
}

h1{
    width : 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.headerbackground{
    display: none;

}
form h2{
    text-align: left;
    padding: 10px;
    border-top: 40px solid #E6E6E6;
}

select, input, textarea, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    padding: 12px;  
    border: 1px solid #ccc;
    /*border-radius: 4px; */
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}


.headertitle{
    font-size: 40px;
    padding-left: 10px;
    text-align: center;
}

.name{
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.dispo{
    display: flex;
    flex-direction: column;
    padding-top : 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.map{
    height: 30%;
    width: 30%;
}

.logo{
    display: flex;
    height: 100%;
    width : 50%;
}

.contact{
    display: flex;
    background-color: #E6E6E6;
    justify-content: space-around;
    height: 40px;
    padding: 0;   
    align-items: center;
}

.reseaux{
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 15px;
    border: 4px solid #e6e6e6;
    border-radius: 20px;
    
    
}

.map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}

.adress,.phone {
    display: none;
}

@media screen and (min-width: 701px) {
    .adress,.phone {
        display: flex;
        justify-content: center;
    }

    header{
        height: 100%;
    }
    .nav__burger{
        display: none;
    }

    .navbar{
        width: 100%;
    }
    .nav__list{
        display: block;
        margin-top: 30vh;
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color:  #293133;
        font-weight: bold;
    }

    .desktop_title{
        display: flex;
    }

    .logo{
        display: none;
     }

     h1{
        display: none;
     }



    nav a{
        display: flex;
        text-decoration: none;
        color:#35D2DD;
        padding: 20px;
    }

    .logo_desktop{
        display: none;
    }

    .navbar a:hover {
        background-color: #35D2DD;
        text-decoration: underline;
        color: #293133;
    }

    .headerbackground{
        display: block;
        width: 100%;
        position: absolute;
        z-index: 0;
        object-fit: cover;
        height: 30vh;
    }

    ul {
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color:  #293133;
        font-weight: bold;
        padding: 0px;
    }
    .contact{
        height: 15vh;
        background-color:  #293133;
        font-weight: bold;
    }

    .contact a{
        color: #35D2DD;
        font-size: 30px;
    }

    .reseaux{
        width: 60px;
        height: 60px;
    }

    form h2{
        text-align: left;
        padding: 10px;
        border-top: 40px solid #293133;
    }

}