
*{
    margin: 0px;
    list-style: none;
 }

 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    }
  


/* header */

nav{
    display: none;
 }
 .logo{
    margin: 10px;
    display: flex;
    height: 100%;
    width : 50%;
 }
.headerbackground{
    display: none;

}

/*body*/
h2{
    font-family: 'Oswald', sans-serif;
}

hr{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
article{
    display: flex;
    width: 100%;
}

article img{
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
    margin: auto;
}

.contenu_article {
    margin-left: 5%;
    color: #343d46;
}

.inverse {
    flex-direction: row-reverse;
    width: 100%;
}

/* footer */ 
 .contact{
    display: flex;
    background-color: #E6E6E6;
    justify-content: space-around;
    height: 40px;
    padding: 0;   
    align-items: center;
}

.reseaux{
    width: 30px;
    height: 30px;
}


@media screen and (min-width: 700px) {
    .bloc_article{
        display: flex;
        font-family: 'Oswald', sans-serif;
    }

    article{
        display: flex;
        flex-direction: column;
    }

    .inverse{
        display: flex;
        flex-direction: column;
    }

    nav{
        display: block;
    }

    .desktop_title{
        display: flex;
    }

    .logo{
        margin: 10px;
        display: flex;
        height: 70%;
        width : 50%;
     }

     h1{
         display: flex;
         align-items: center;
     }


    header img {
        display: flex;
        width: 100%;
        margin: 0px;
        text-align: center;
    }



    nav a{
        display: flex;
        text-decoration: none;
        color:#35D2DD;
        padding: 20px;
    }

    .navbar a:hover {
        background-color: #35D2DD;
        text-decoration: underline;
        color: #293133;
    }

    .headerbackground{
        display: block;
        width: 100%;
        position: absolute;
        z-index: -1;
        object-fit: cover;
    }

    ul {
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color:  #293133;
        font-weight: bold;
        padding: 0px;
    }
    .contact{
        height: 100px;
    }


}



