
*{
    margin: 0px;
    list-style: none;
 }

 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    color: #343d46;
    }
  


/* header */

h1{
    width : 100%;
    text-align: left;
    font-size: 25px;
}

nav{
    margin: 10px;
    display: none;
 }
 .logo{
    margin: 10px;
    display: flex;
    height: 100%;
    width : 50%;
 }

/*body*/
h2{
    font-family: 'Oswald', sans-serif;
}

hr{
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
article{
    display: flex;
    width: 100%;
}

article img{
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
    margin: auto;
}

.contenu_article {
    margin-left: 5%;
    color: #343d46;
}

.inverse {
    flex-direction: row-reverse;
    width: 100%;
}

/* footer */ 
.contact{
    display: flex;
    background-color: #E6E6E6;
    justify-content: space-around;
    height: 40px;
    padding: 0;   
    align-items: center;
}

.reseaux{
    width: 30px;
    height: 30px;
}




